page-plost {

}
.pagec{
  background-color: #eee;
  font-size: 12px;
  overflow: hidden;
}
.bigdiv1{
  height: auto;
  width: auto;
  margin-top: 50%;
  display: block;
  text-align: center;
  padding: 2px;
}
.no-scroll .scroll-content{
  overflow: hidden;
  background-color: #eee;
  font-size: 12px;
}
.custom{
  background-color: #eee;
  font-size: 12px;
}
