page-reviews {
.greycont{
  background: #eee;
}
.normaltextcenter{
  text-align: center;
  color: #A6ACAF;
  font-size: 12px;
}
.imgrestyled{
  border-radius: 15px;
}
.reg{
  font-family: 'Open Sans Condensed', Bold;
  left:0;
}
.loadingimg{
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: cover;
}
.loadingcontainer{
  height: auto;
  width: 100%;
  text-align: center;
}
.cpubbtn{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;  
}

}
