page-signup1 {

}
.pagec{
  background-color: #eee;
  font-size: 13px;
  overflow: hidden;
}
.smallfont{
    font-size: 11px;
}
.instructions{
  height: auto;
  width: auto;
  margin-top: 50%;
  display: block;
  text-align: center;
  padding: 2px;
}
.no-scroll .scroll-content{
  overflow: hidden;
  background-color: #eee;
  font-size: 12px;
}
