page-photos {

}
.card-background-page {

  ion-card{
    position: relative;
    text-align: center;
  }

  background-color: #eee;
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    color: #000;
    font-family: 'Raleway';
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #000;
    font-family: 'Raleway';
  }
}
.titleph{
  margin: 3px;
  position: relative;
  font-size: 1.2em;
  width: 100%;
  color: #000;
  font-family: 'Raleway';
}
