page-home {

}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');


.logoc{
  height: auto;
  width: auto;
  margin-top: 70%;
  display: block;
  text-align: center;

}
.smallfont{
    font-size: 12px;

}

.no-scroll1 .scroll-content{
  overflow: hidden;
  background-size: cover;
  font-size: 12px;
  font-family: 'Raleway';
}
.nx{
  font-size: 12px;
  color: #eee;
  text-align: center;
  margin-top: 5%;
}
.vertical-align-content{
  padding-top: 15px;
}
