page-payementhist {
  ion-content.cards-bg {
    background-color: #f4f4f7;
  }
  .CEreduce{
    height: 70px;
    width: 100%;
  }
  .invisible{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    display: none;
  }
  .greycont{
    background: #eee;
  }
  .normaltextcenter{
    text-align: center;
    color: #A6ACAF;
    font-size: 12px;
  }
  .loadingimg{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-size: cover;
  }
  .loadingcontainer{
    height: auto;
    width: 100%;
    text-align: center;
  }
}
