page-settings {

}
.settpage{
  background-color: #eee;
}
.firstdiv2{
height: 150px;
text-align: center;
width: 100%;

}

.csettphoto{
  height: 80px;
  width: 80px;
  border: 3px solid #eee;
  border-radius: 20px;
  background-size: cover;
    display: inline-block;
    margin: 5px;

}
.csettim{
  height: 100%;
  width: 100%;
    background-size: cover;
  border-radius: 15px;
}






.profilenamebox{
  height: 50px;
  width: 90%;
display: inline-block;
text-align: center;
}
.pronametext{
  display: inline-block;
  font-family: 'Raleway';
font-size: 18px;
color : #585858;
}



.trait2{
  background: #f3f3f3;
  height: 1px;
  width: 90%;
}
.pfont2{
font-family: 'Raleway';
font-size: 12px;
display: inline-block;
}
