page-search {
  ion-content.cards-bg {
    background-color: #f4f4f7;
  }
  .CEreduce{
    height: 70px;
    width: 100%;
  }
  .normaltextcenter{
    margin-top: 10px;
    text-align: center;
    color: #A6ACAF;
    font-size: 12px;
  }

}
.flow1{
  display: inline-block;
  margin-left: 0px!important;
  margin-right: 0px!important;
  width: 80%;
}
.Catitle{
  font-size: 14px;
    font-family: 'Raleway';
}
.Cdesc{
  font-size: 12px;
    font-family: 'Raleway';
}
